In [2]:
import numpy as np
import pandas as pd

In [3]:
airlines = pd.read_csv("airlines.csv")
airports = pd.read_csv("airports.csv")
train = pd.read_csv("flights_train.csv")
test = pd.read_csv("flights_test.csv")
submit_sample = pd.read_csv("submit_sample.csv")

In [4]:
#print(airlines.head(10))
#print(airports.head(10))
print(train.head(10))
#print(test.head(10))
#submit_sample.head(10)

   id  YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0   0  2015      1    1            4      AS             98      N407AS
1   1  2015      1    1            4      AA           2336      N3KUAA
2   2  2015      1    1            4      US            840      N171US
3   3  2015      1    1            4      AA            258      N3HYAA
4   4  2015      1    1            4      AS            135      N527AS
5   5  2015      1    1            4      DL            806      N3730B
6   6  2015      1    1            4      NK            612      N635NK
7   7  2015      1    1            4      US           2013      N584UW
8   8  2015      1    1            4      AA           1112      N3LAAA
9   9  2015      1    1            4      DL           1173      N826DN

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME  \
0            ANC                 SEA                    5          2354.0
1            LAX                 PBI                   10             2.0
2            SFO                 CLT                   20            18.0
3            LAX                 MIA                   20            15.0
4            SEA                 ANC                   25            24.0
5            SFO                 MSP                   25            20.0
6            LAS                 MSP                   25            19.0
7            LAX                 CLT                   30            44.0
8            SFO                 DFW                   30            19.0
9            LAS                 ATL                   30            33.0

   TAXI_OUT  WHEELS_OFF  SCHEDULED_TIME  DISTANCE  SCHEDULED_ARRIVAL  \
0      21.0        15.0           205.0      1448                430
1      12.0        14.0           280.0      2330                750
2      16.0        34.0           286.0      2296                806
3      15.0        30.0           285.0      2342                805
4      11.0        35.0           235.0      1448                320
5      18.0        38.0           217.0      1589                602
6      11.0        30.0           181.0      1299                526
7      13.0        57.0           273.0      2125                803
8      17.0        36.0           195.0      1464                545
9      12.0        45.0           221.0      1747                711

   ARRIVAL_DELAY
0          -22.0
1           -9.0
2            5.0
3           -9.0
4          -21.0
5            8.0
6          -17.0
7          -10.0
8          -13.0
9          -15.0

In [6]:
airlines.describe(include='all')
airports.describe(include='all')
train.describe(include='all')

,id,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
count,2.818553e+06,2818553.0,2.818553e+06,2.818553e+06,2.818553e+06,2818553,2.818553e+06,2818553,2818553,2818553,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06
unique,NaN,NaN,NaN,NaN,NaN,14,NaN,4688,322,322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,WN,NaN,N477HA,ATL,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,610684,NaN,2024,183656,183537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.409276e+06,2015.0,3.573126e+00,1.562678e+01,3.938906e+00,NaN,2.192953e+03,NaN,NaN,NaN,1.329533e+03,1.337376e+03,1.613164e+01,1.359705e+03,1.413717e+02,8.191704e+02,1.497113e+03,6.001171e+00
std,8.136463e+05,0.0,1.703931e+00,8.704137e+00,1.986157e+00,NaN,1.774639e+03,NaN,NaN,NaN,4.814211e+02,4.950658e+02,9.226391e+00,4.964894e+02,7.501261e+01,6.033737e+02,5.036512e+02,4.065076e+01
min,0.000000e+00,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.800000e+01,3.100000e+01,1.000000e+00,-8.700000e+01
25%,7.046380e+05,2015.0,2.000000e+00,8.000000e+00,2.000000e+00,NaN,7.330000e+02,NaN,NaN,NaN,9.200000e+02,9.230000e+02,1.100000e+01,9.380000e+02,8.500000e+01,3.730000e+02,1.112000e+03,-1.300000e+01
50%,1.409276e+06,2015.0,4.000000e+00,1.600000e+01,4.000000e+00,NaN,1.673000e+03,NaN,NaN,NaN,1.325000e+03,1.331000e+03,1.400000e+01,1.344000e+03,1.230000e+02,6.490000e+02,1.521000e+03,-4.000000e+00
75%,2.113914e+06,2015.0,5.000000e+00,2.300000e+01,6.000000e+00,NaN,3.354000e+03,NaN,NaN,NaN,1.730000e+03,1.740000e+03,1.900000e+01,1.754000e+03,1.740000e+02,1.061000e+03,1.919000e+03,1.000000e+01
max,2.818552e+06,2015.0,6.000000e+00,3.100000e+01,7.000000e+00,NaN,9.320000e+03,NaN,NaN,NaN,2.359000e+03,2.400000e+03,2.250000e+02,2.400000e+03,7.180000e+02,4.983000e+03,2.400000e+03,1.971000e+03

In [7]:
Q1 = train.ARRIVAL_DELAY.quantile(.25)
Q3 = train.ARRIVAL_DELAY.quantile(.75)
IQR = Q3 - Q1
LB = Q1 - 1.5*IQR # lower bound for data to not be considered as outliers
UB = Q3 + 1.5*IQR # upper bound
train_out = train[(train.ARRIVAL_DELAY > LB) & (train.ARRIVAL_DELAY < UB)]
train_out # training set without outliers

,id,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
0,0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,21.0,15.0,205.0,1448,430,-22.0
1,1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,12.0,14.0,280.0,2330,750,-9.0
2,2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,16.0,34.0,286.0,2296,806,5.0
3,3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,15.0,30.0,285.0,2342,805,-9.0
4,4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,11.0,35.0,235.0,1448,320,-21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818546,2818546,2015,6,30,2,F9,682,N918FR,DEN,MCO,2359,2355.0,10.0,5.0,214.0,1546,533,-27.0
2818547,2818547,2015,6,30,2,F9,300,N939FR,DEN,TPA,2359,2352.0,17.0,9.0,203.0,1506,522,-5.0
2818548,2818548,2015,6,30,2,UA,1180,N65832,LAX,ORD,2359,2358.0,11.0,9.0,241.0,1744,600,-8.0
2818551,2818551,2015,6,30,2,UA,1637,N35260,SEA,IAH,2359,12.0,12.0,24.0,250.0,1874,609,9.0
2818552,2818552,2015,6,30,2,UA,1903,N35271,IAH,SJU,2359,7.0,14.0,21.0,275.0,2007,534,-8.0

In [8]:
# create departure and scheduled departure times as minutes (from 0 to 1440)
dep = (train_out.DEPARTURE_TIME-train_out.DEPARTURE_TIME%100)*60/100 + train_out.DEPARTURE_TIME%100
sch = (train_out.SCHEDULED_DEPARTURE-train_out.SCHEDULED_DEPARTURE%100)*60/100 + train_out.SCHEDULED_DEPARTURE%100

# the difference 
dif = pd.DataFrame(dep - sch)
dif

              0
0        1429.0
1          -8.0
2          -2.0
3          -5.0
4          -1.0
...         ...
2818546    -4.0
2818547    -7.0
2818548    -1.0
2818551 -1427.0
2818552 -1432.0

[2572638 rows x 1 columns]

In [9]:
dif[abs(dif) < 720].describe(include='all')

                  0
count  2.570459e+06
mean   1.914960e+00
std    1.206500e+01
min   -4.800000e+01
25%   -5.000000e+00
50%   -2.000000e+00
75%    4.000000e+00
max    1.330000e+02

In [10]:
abs(dif[abs(dif) > 720]).describe(include='all')

                 0
count  2179.000000
mean   1416.391005
std      16.471486
min    1340.000000
25%    1405.000000
50%    1420.000000
75%    1430.000000
max    1438.000000

In [11]:
# we see that unless the scheduled and actual departure times differ by day, the min differnce is -48 and max is 133
# let's convert values above 720 minutes and add a DEPARTURE_DELAY column

dif[abs(dif) > 720] = np.sign(dif[abs(dif) > 720])*(abs(dif[abs(dif) > 720]) - 1440)
diff = dif.rename({0: 'DEPARTURE_DELAY'}, axis = 1)
train_dep = train_out.join(diff)
train_dep

,id,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DEPARTURE_DELAY
0,0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,21.0,15.0,205.0,1448,430,-22.0,-11.0
1,1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,12.0,14.0,280.0,2330,750,-9.0,-8.0
2,2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,16.0,34.0,286.0,2296,806,5.0,-2.0
3,3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,15.0,30.0,285.0,2342,805,-9.0,-5.0
4,4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,11.0,35.0,235.0,1448,320,-21.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818546,2818546,2015,6,30,2,F9,682,N918FR,DEN,MCO,2359,2355.0,10.0,5.0,214.0,1546,533,-27.0,-4.0
2818547,2818547,2015,6,30,2,F9,300,N939FR,DEN,TPA,2359,2352.0,17.0,9.0,203.0,1506,522,-5.0,-7.0
2818548,2818548,2015,6,30,2,UA,1180,N65832,LAX,ORD,2359,2358.0,11.0,9.0,241.0,1744,600,-8.0,-1.0
2818551,2818551,2015,6,30,2,UA,1637,N35260,SEA,IAH,2359,12.0,12.0,24.0,250.0,1874,609,9.0,13.0
2818552,2818552,2015,6,30,2,UA,1903,N35271,IAH,SJU,2359,7.0,14.0,21.0,275.0,2007,534,-8.0,8.0

In [12]:
train_dep.iloc[:,-2:].corr()
# departure delay and arrival delay are apparently rather strongly correlated at 0.680

                 ARRIVAL_DELAY  DEPARTURE_DELAY
ARRIVAL_DELAY         1.000000         0.679894
DEPARTURE_DELAY       0.679894         1.000000

In [ ]:
# REMARK:
# We can maybe extend the outliers until the maximum difference between the scheduled and the actual departure for a
# flight in one day gets as close as possible to the minimum difference where the scheduled flight is on one day and
# the actual flight is on another

# But I'm not sure how we will know if the data we have is in one of them or the other

In [28]:
train_dep.sort_values(by = 'AIRLINE').set_index(['AIRLINE','id'])

                 YEAR  MONTH  DAY  DAY_OF_WEEK  FLIGHT_NUMBER TAIL_NUMBER  \
AIRLINE id
AA      1813825  2015      4   29            3            209      N3APAA
        884492   2015      3    2            1           1003      N489AA
        884481   2015      3    2            1           1218      N479AA
        2325748  2015      6    1            1           2406      N5EJAA
        213774   2015      1   15            4           1027      N3BDAA
...               ...    ...  ...          ...            ...         ...
WN      1079943  2015      3   14            6           4746      N278WN
        2214665  2015      5   24            7            815      N443WN
        2214666  2015      5   24            7           3912      N929WN
        1079950  2015      3   14            6           2125      N424WN
        1409792  2015      4    4            6           2036      N968WN

                ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  \
AIRLINE id
AA      1813825            LAX                 SFO                 1615
        884492             PSP                 DFW                 1148
        884481             MSP                 DFW                 1146
        2325748            LAX                 DFW                   59
        213774             BOS                 DFW                  924
...                        ...                 ...                  ...
WN      1079943            MDW                 SDF                 1955
        2214665            ATL                 LGA                 2050
        2214666            LAS                 DEN                 2050
        1079950            LAS                 MCI                 1955
        1409792            MDW                 STL                  825

                 DEPARTURE_TIME  TAXI_OUT  WHEELS_OFF  SCHEDULED_TIME  \
AIRLINE id
AA      1813825          1615.0      19.0      1634.0            81.0
        884492           1150.0      15.0      1205.0           162.0
        884481           1140.0      16.0      1156.0           159.0
        2325748            57.0      20.0       117.0           175.0
        213774            918.0      28.0       946.0           271.0
...                         ...       ...         ...             ...
WN      1079943          2008.0       7.0      2015.0            70.0
        2214665          2108.0      10.0      2118.0           140.0
        2214666          2100.0      10.0      2110.0           105.0
        1079950          1954.0      12.0      2006.0           160.0
        1409792           822.0       6.0       828.0            65.0

                 DISTANCE  SCHEDULED_ARRIVAL  ARRIVAL_DELAY  DEPARTURE_DELAY
AIRLINE id
AA      1813825       337               1736           -6.0              0.0
        884492       1126               1630            2.0              2.0
        884481        852               1425          -13.0             -6.0
        2325748      1235                554            6.0             -2.0
        213774       1562               1255            1.0             -6.0
...                   ...                ...            ...              ...
WN      1079943       271               2205           -6.0             13.0
        2214665       762               2310           25.0             18.0
        2214666       628               2335            1.0             10.0
        1079950      1139                 35            7.0             -1.0
        1409792       251                930          -15.0             -3.0

[2572638 rows x 17 columns]