In [1]:
import numpy as np
import pandas as pd

In [4]:
airlines = pd.read_csv("airlines.csv")
airports = pd.read_csv("airports.csv")
train = pd.read_csv("flights_train.csv")
test = pd.read_csv("flights_test.csv")
submit_sample = pd.read_csv("submit_sample.csv")

In [33]:
#print(airlines.head(10))
#print(airports.head(10))
print(train.head(10))
#print(test.head(10))
#submit_sample.head(10)

   id  YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0   0  2015      1    1            4      AS             98      N407AS
1   1  2015      1    1            4      AA           2336      N3KUAA
2   2  2015      1    1            4      US            840      N171US
3   3  2015      1    1            4      AA            258      N3HYAA
4   4  2015      1    1            4      AS            135      N527AS
5   5  2015      1    1            4      DL            806      N3730B
6   6  2015      1    1            4      NK            612      N635NK
7   7  2015      1    1            4      US           2013      N584UW
8   8  2015      1    1            4      AA           1112      N3LAAA
9   9  2015      1    1            4      DL           1173      N826DN

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME  \
0            ANC                 SEA                    5          2354.0
1            LAX                 PBI                   10             2.0
2            SFO                 CLT                   20            18.0
3            LAX                 MIA                   20            15.0
4            SEA                 ANC                   25            24.0
5            SFO                 MSP                   25            20.0
6            LAS                 MSP                   25            19.0
7            LAX                 CLT                   30            44.0
8            SFO                 DFW                   30            19.0
9            LAS                 ATL                   30            33.0

   TAXI_OUT  WHEELS_OFF  SCHEDULED_TIME  DISTANCE  SCHEDULED_ARRIVAL  \
0      21.0        15.0           205.0      1448                430
1      12.0        14.0           280.0      2330                750
2      16.0        34.0           286.0      2296                806
3      15.0        30.0           285.0      2342                805
4      11.0        35.0           235.0      1448                320
5      18.0        38.0           217.0      1589                602
6      11.0        30.0           181.0      1299                526
7      13.0        57.0           273.0      2125                803
8      17.0        36.0           195.0      1464                545
9      12.0        45.0           221.0      1747                711

   ARRIVAL_DELAY
0          -22.0
1           -9.0
2            5.0
3           -9.0
4          -21.0
5            8.0
6          -17.0
7          -10.0
8          -13.0
9          -15.0

In [29]:
airlines.describe(include='all')
airports.describe(include='all')
train.describe(include='all')

,id,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
count,2.818553e+06,2818553.0,2.818553e+06,2.818553e+06,2.818553e+06,2818553,2.818553e+06,2818553,2818553,2818553,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06,2.818553e+06
unique,NaN,NaN,NaN,NaN,NaN,14,NaN,4688,322,322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,WN,NaN,N477HA,ATL,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,610684,NaN,2024,183656,183537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.409276e+06,2015.0,3.573126e+00,1.562678e+01,3.938906e+00,NaN,2.192953e+03,NaN,NaN,NaN,1.329533e+03,1.337376e+03,1.613164e+01,1.359705e+03,1.413717e+02,8.191704e+02,1.497113e+03,6.001171e+00
std,8.136463e+05,0.0,1.703931e+00,8.704137e+00,1.986157e+00,NaN,1.774639e+03,NaN,NaN,NaN,4.814211e+02,4.950658e+02,9.226391e+00,4.964894e+02,7.501261e+01,6.033737e+02,5.036512e+02,4.065076e+01
min,0.000000e+00,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.800000e+01,3.100000e+01,1.000000e+00,-8.700000e+01
25%,7.046380e+05,2015.0,2.000000e+00,8.000000e+00,2.000000e+00,NaN,7.330000e+02,NaN,NaN,NaN,9.200000e+02,9.230000e+02,1.100000e+01,9.380000e+02,8.500000e+01,3.730000e+02,1.112000e+03,-1.300000e+01
50%,1.409276e+06,2015.0,4.000000e+00,1.600000e+01,4.000000e+00,NaN,1.673000e+03,NaN,NaN,NaN,1.325000e+03,1.331000e+03,1.400000e+01,1.344000e+03,1.230000e+02,6.490000e+02,1.521000e+03,-4.000000e+00
75%,2.113914e+06,2015.0,5.000000e+00,2.300000e+01,6.000000e+00,NaN,3.354000e+03,NaN,NaN,NaN,1.730000e+03,1.740000e+03,1.900000e+01,1.754000e+03,1.740000e+02,1.061000e+03,1.919000e+03,1.000000e+01
max,2.818552e+06,2015.0,6.000000e+00,3.100000e+01,7.000000e+00,NaN,9.320000e+03,NaN,NaN,NaN,2.359000e+03,2.400000e+03,2.250000e+02,2.400000e+03,7.180000e+02,4.983000e+03,2.400000e+03,1.971000e+03